<%- include("../partials/header.ejs"); %>

<body>
    <%- include("../partials/nav.ejs");  %>

    <div class="container">
        <div class="card">
            <div class="card-header hearderCadastrar">
                <h2>Cliente Mensal: <span><%= clientes.nome %></span></h2>
                <div class="editarExcluir">
                    <input type="hidden" name="id" value="<%= clientes.id %>" >
                    <a href="/mensal/editar/<%= clientes.id%>" class="btn btn-warning">Editar dados</a>
                    <form method="post" action="/mensal/deletar" onsubmit="confimarDelecao(event, this)">
                        <input type="hidden" name="idCliente" value="<%= clientes.id%>" >
                        <button type="submit" class="btn btn-danger">Excluir cliente</button>
                    </form>
                    <a href="/veiculos/cadastrarVeiculos/<%= clientes.id%>" class="btn btn-primary">Adicionar veículos</a>
                </div>
            </div>
            <span></span>
            <div class="card-body dados">
                <div class="card-header">
                    <h4>Dados do Cliente</h4>
                </div>
                <div class="elementos">
                    <label>Nome:</label>
                    <span><%= clientes.nome %></span> 
                </div>
                <div class="elementos">
                    <label>CPF:</label>
                    <span><%= clientes.cpf %></span> 
                </div>
                <div class="elementos">
                    <label>Telefone do cliente:</label>
                    <span><%= clientes.telefone %></span> 
                </div>
            </div>
            <div class="card-body dados">
                <div class="card-header">
                    <h4>Dados do Veículo</h4>
                </div>
                <% veiculos.forEach(vei => { %>
                    <div class="card">
                        <div class="card-header hearderCadastrar">
                            <h5><%= vei.modelo %></h5>
                            <div class="editarExcluir">
                                <a href="/veiculoEdit/<%= vei.id%>">
                                    <button class="btn btn-warning">Editar veículo</button>
                                </a>
                                <a href="/veiculoDelete/<%= vei.id %>">
                                    <button class="btn btn-danger">Excluir veículo</button>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="elementos">
                                <label>Marca do veículo:</label> 
                                <span><%= vei.marca %></span>
                            </div>
                            <div class="elementos">
                                <label>Placa:</label> 
                                <span><%= vei.placa %></span>
                            </div>
                        </div>
                    </div>
                    <br>
                <% }) %>
            </div>
            <div class="card-body dados">
                <div class="card-header">
                    <h4>Dados da Vaga</h4>
                </div>
                <% vagas.forEach(vaga => { %>
                    <div class="card">
                        <div class="card-header hearderCadastrar">
                            <h5><%= vaga.numero %></h5>
                            <div class="editarExcluir">
                                <a href="">
                                    <button class="btn btn-warning">Editar vaga</button>
                                </a>
                                <a href="">
                                    <button class="btn btn-danger">Excluir vaga</button>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="elementos">
                                <label>Status de pagamento:</label>
                                <span><%= vaga.status %></span>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>

<script>
    function confimarDelecao(event, form) {
        console.log("confimar");
        event.preventDefault();
        let desicao = confirm("Deseja deletar esse cliente?");
        if (desicao) {
            form.submit();
        } else {
            console.log("Cancelado");
        }
    }
</script>

<%- include("../partials/footer.ejs"); %>
