<%- include("../partials/header.ejs"); %>

<body>

    <%- include("../partials/nav.ejs");  %>

    <div class="container" >
        <div class="card">
            <form method="post" action="/diario/salvarEntrada">
                <div class="card-hearder" id="hearderCadastrar">
                    <h2>Resgistrar entrada de veiculo</h2>
                    <button class="btn btn-primary">Registrar</button>
                </div>
                <div class="card-body dados">
                    <div class="card-header">
                        <h4>Dados do veiculo</h4>
                    </div>
                    <div class="elementos">
                        <label>Categoria do veiculo:</label>
                        <select>
                            <option value="1">Carro</option>
                            <option value="2">Moto</option>
                            <option value="3">Van</option>
                        </select>
                    </div>
                    <br>
                    <div class="elementos">
                        <label for="">Placa do veiculo</label>
                        <input type="text" name="placa" placeholder="Placa do veiculo" maxlength="8">
                        <br>
                    </div>
                </div>
                <div class="card-body dados">
                    <div class="card-header">
                        <h4>Vaga</h4>
                        
                    </div>
                    <div class="elementos">
                        <label for="">Vaga:</label>
                        <select name="vaga">
                            <% for(let x = 1; x <= vaga; x++) { %>
                                <option value="<%= vaga %>"><%= x %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

<style>
    .dados{
        background-color: rgb(193, 197, 202);
        margin-bottom: 15px;
        border-radius: 11px;
        padding: 0px 0px 9px 9px;
        margin: 10px;
    }
    .elementos{
        padding-top: 7px;
    }

    label{
        padding-right: 5px;
    }
    input, select{
        border-radius: 8px;
    }

    #hearderCadastrar{
        padding: 0px 20px 0px 20px;
        margin: 10px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
    }
</style> 

<%- include("../partials/footer.ejs"); %>